* {
    box-sizing: border-box;
    margin: 0;
    padding : 0;
    font-family: 'Roboto';
}
.container {
    width: 100%;
    max-width: 1600px;
    flex-direction: column;

}

.header {
    padding: 0px 375px;
    flex: 1;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

.logoContainer {
    width: 50px;
    flex: 1;
}

.logoContainer img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.headersContainer {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;;
    justify-content: flex-end;
}

.headersContainer a {
    cursor: pointer;
}



.intro {
    display: flex;
    padding: 100px 375px;
    background-color: #1F2937;
    gap: 40px;

}

.intro .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.intro .textContainer h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.intro .textContainer p {
    color: #E5E7EB;
    font-size: 18px;
}

.buttonWrapper {
    display: flex;
    justify-content: start;
}
.intro .textContainer .buttonWrapper button {
    background-color: #3882F6;
    border: 0;
    padding: 10px 38px;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    
}

.intro .textContainer .buttonWrapper button:hover {
    scale: 1.1;
}

.intro .placeholderContainer {
    flex: 1;
}

.intro .placeholderContainer img {
    width: 100%;
    height: 100%;
    
}



.information {
    display: flex;
    padding: 40px 375px 130px 375px;
    background-color: #ffffff;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.randomInfoContainer {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.exampleImagesContainer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 200px;
}

.exampleImagesContainer div {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: scale 0.4s;
}

.exampleImagesContainer div:hover {
    scale: 1.1;
    cursor: pointer;
}

.exampleImagesContainer div img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 20px;
}





.quote {
    display: flex;
    flex-direction: column;
    padding: 200px 400px 170px 400px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

#author-quote {
    font-weight: 900;
    font-size:20px;
    font-style: normal;
    justify-self: end;
}



.signup {
    padding: 100px 375px 100px 375px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.signup-wrapper {
    padding: 40px 100px 40px 100px;
    background-color: #3882F6;
    display: flex;
    border-radius: 20px;
}

.signup-text {
    color: #f9faf8;
    flex: 3;
}

.signup-text .primary {
    font-weight: 900;
    font-size: 20px;
}

.signup-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.signup-button button {
    padding: 5px 20px 5px 20px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 8px;
    color:#f9faf8;
    font-weight: 900;
    transition: 0.4s;
}

.signup-button button:hover {
    scale: 1.1;
    cursor: pointer;
}